<div class="container">
  <div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
      <ul class="event-list">
        <li>
          <time datetime="2014-07-20 0000">
            <span class="day"><%= concert[:date_day] %></span>
            <span class="month"><%= concert[:date_month] %></span>
            <span class="year"><%= concert[:date_year] %></span>
          </time>
          <div class="info">
            <h2 class="title"><%= concert[:tag_line] %></h2>
            <p class="desc"><%= concert[:artist] %></p>
            <ul>
              <li style="width:100%;"><a href="<%= concert[:url] %>"><span class="fa fa-globe"></span> Website</a></li>
            </ul>
          </div>
          <div class="social">
            <ul>
              <li class="google-plus" style="width:33%;">
                <a href="#google-plus"><span class="fa fa-heart"></span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
