<div class="jumbotron">
  <h2 style="text-align: center; margin-top: -1em; margin-bottom: 1em">
    Upcoming shows near <%= @search.term.gsub(' ', ', ') %>
  </h2>
  <%= render partial: 'concerts/concert', collection: @concerts %>
  <div class="text-center">
    <ul class="pagination pagination-lg">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li><a href="/<%= @search.url_safe_term %>/1">1</a></li>
      <li><a href="/<%= @search.url_safe_term %>/2">2</a></li>
      <li><a href="/<%= @search.url_safe_term %>/3">3</a></li>
      <li><a href="/<%= @search.url_safe_term %>/4">4</a></li>
      <li><a href="/<%= @search.url_safe_term %>/5">5</a></li>
      <li><a href="/<%= @search.url_safe_term %>/6">&raquo;</a></li>
    </ul>
  </div>
</div>