<!DOCTYPE html>
<html>
<head>
  <title>AggreLive</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="../AggreLive_logo (2).png" border="0"/>
        </a>
      </div>
      <form class="navbar-form navbar-left" role="search" action="/search" method="post">
        <div class="form-group">
          <input type="text" name="search_term" class="form-control" style="padding-left: 100px" placeholder="Search">
        </div>
        <%= token_tag nil %>
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.first_name%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/user">My Account</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="/login">Login</a>
            </li>
            <li class="dropdown">
              <a href="/register">Register</a>
            </li>
          </ul>
      <% end %>
    </div>
  </nav>
</header>
<div class="body-bg">
  <%= yield %>
</div>
<footer>
  <div class="foot-fixed-bottom">
    <div class="container">© AggreLive 2014</div>
  </div>
</footer>
</div>
</body>
</html>